/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* Heading INFO2180 project 1 */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Start of styling for list with navigation links (about, research...) */
ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    display: inline;
    margin-top: 20px;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} /*  End of styling for list with navigation links (about, research...) */


/* Start of styling for "LIVE YOUR HEALTHIEST LIFE NOW" section */
.overview-hero .container{
    display: flex;
}

.overview-hero-image img{
    width: 300px;
    height: 310px;
}

.overview-hero-text{
    padding: 100px 6px 0px 95px;
} /* End of styling for "LIVE YOUR HEALTHIEST LIFE NOW" section */

/* Start of styling for "LEARN ABOUT" section */
.cards{
    display: grid;
    grid-template-columns: auto auto auto;
} /* End of styling for "LEARN ABOUT" section */

/* Start of styling for "COVID-19 TESTING PROGRAMME" section */
.testing .container{
    display: flex;
}

.testing-desciption{
   margin-right: 20%;
}

.cta{
    padding: 7%;
}

.cta .btn{
    text-decoration: none;
}

/* End of styling for "COVID-19 TESTING PROGRAMME" section */



